# Version 2 is the latest that is supported by docker-compose in
# Ubuntu Xenial.
version: '2'

services:
  scheduler:
    environment:
      no_proxy: "${no_proxy}"
    command: "zuul-scheduler -d"
    image: {{ ZUUL_DOCKERREPO }}/zuul-scheduler:{{ ZUUL_VERSION }}
    ports:
      - "4730:4730"
      - "8001:8001"
    volumes:
      - "./etc_zuul:/etc/zuul"
      - "./ssh_keys:/var/ssh"
      - "./.ssh:/home/zuul/.ssh"
      - "/var/log/zuul:/var/log/zuul"
      - "/var/lib/zuul:/var/lib/zuul"
      - "/var/run:/var/run"
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
