[gearman]
server={{ zuul_scheduler_host }}
check_job_registration=true

[gearman_server]
start=true
log_config=/etc/zuul/gearman-logging.conf

[zookeeper]
hosts={{ zuul_scheduler_host }}

[scheduler]
tenant_config=/etc/zuul/main.yaml
log_config=/etc/zuul/scheduler-logging.conf
state_dir=/var/lib/zuul

[connection "gerrit"]
name=gerrit
driver=gerrit
server={{ gerrit_host }}
sshkey=/var/ssh/zuul_rsa
user=zuul
baseurl=http://{{ gerrit_host }}

[connection "mysql"]
name=mysql
driver=sql
dburi=mysql+pymysql://zuul:secret@mysql/zuul
