all:
  children:
    zuul:
      chidlren:
        zookeeper:
          hosts:
            zk1.internal:
            zk2.internal:
        mysql:
          hosts:
            mysql1.internal:
        zuul-scheduler:
          hosts:
            zuul.internal:
        zuul-executor:
          hosts:
            zuul1.internal:
            zuul2.internal:
            zuul3.internal:
        zuul-web:
          hosts:
            zuul-web1.internal:
            zuul-web2.internal:
        zuul-logs:
          hosts:
            zuul-logserver1.internal:
            zuul-logserver2.internal:
      vars:
        key: value
    zuul:
      chidlren:
        nodepool-builder:
          hosts:
            nodepool-builder.internal:
        nodepool-launcher:
          hosts:
            nodepool-launcher.internal:
      vars:
        key: value
    gerrit:
      hosts:
        gerrit.internal:
    nexus:
      hosts:
        nexus.internal:
  vars:
    # please see some defaults in group_vars/all
    # please note that definitions in group_vars/all have greater precedence than below vars
    # if you need to redefine some of them please remove it in group_vars/all and define here

    remote_user: ubuntu

    image_web_server: "nexus/repository/"
    nexus_host: "nexus.internal"
    nexus_user: "admin"
    nexus_password: "password"
    zuul_log_url: "http://log_site.public:port"
    zookeeper_host: z11.internal
    mysql_host: mysql1.internal
    mysql_root_password: rootsecret
    zuul_mysql_username: zuul
    zuul_mysql_password: secret

    gerrit_host: "gerrit"
    gerrit_public_host: "gerrit.sytes.net"
    gerrit_source_url: "http://gerrit.sytes.net"
    gerrit_repos:
      - {dest_namespace: "tungstenfabric-tools", project: "dev-env", src_namespace: "progmaticlab", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "tungstenfabric-infra", dest_project: "project-config", src_namespace: "progmaticlab", src_project: "project-config", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "tungstenfabric-infra", dest_project: "tungsten-zuul-jobs", src_namespace: "progmaticlab", src_project: "tungsten-zuul-jobs", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "tungstenfabric-tools", dest_project: "puppet-contrail", src_namespace: "Juniper", src_project: "puppet-contrail", gerrit_source_url: "https://github.com"}
