all:
  children:
    zuul:
      chidlren:
        zookeeper:
          hosts:
            zk1.internal:
            zk2.internal:
        mysql:
          hosts:
            mysql1.internal:
        zuul-scheduler:
          hosts:
            zuul.internal:
        zuul-executor:
          hosts:
            zuul1.internal:
            zuul2.internal:
            zuul3.internal:
        zuul-web:
          hosts:
            zuul-web1.internal:
            zuul-web2.internal:
        zuul-logs:
          hosts:
            zuul-logserver1.internal:
            zuul-logserver2.internal:
      vars:
        key: value
    zuul:
      chidlren:
        nodepool-builder:
          hosts:
            nodepool-builder.internal:
        nodepool-launcher:
          hosts:
            nodepool-launcher.internal:
      vars:
        key: value
    gerrit:
      hosts:
        gerrit.internal:
    nexus:
      hosts:
        nexus.internal:
  vars:
    # please see some defaults in group_vars/all
    # please note that definitions in group_vars/all have greater precedence than below vars
    # if you need to redefine some of them please remove it in group_vars/all and define here

    remote_user: ubuntu

    image_web_server: "nexus/repository/"
    nexus_host: "nexus.internal"
    nexus_user: "admin"
    nexus_password: "password"
    zuul_log_url: "http://log_site.public:port"
    zookeeper_host: z11.internal
    mysql_host: mysql1.internal
    mysql_root_password: rootsecret
    zuul_mysql_username: zuul
    zuul_mysql_password: secret

    gerrit_host: "internal.gerrit.name"
    gerrit_public_host: "gerrit.public"
    gerrit_source_url: "https://review.opencontrail.org"
    gerrit_repos:
      - {dest_namespace: "Juniper", project: "contrail"}
      - {dest_namespace: "Juniper", project: "contrail-analytics"}
      - {dest_namespace: "Juniper", project: "contrail-ansible"}
      - {dest_namespace: "Juniper", project: "contrail-ansible-deployer"}
      - {dest_namespace: "Juniper", project: "contrail-ansible-internal"}
      - {dest_namespace: "Juniper", project: "contrail-api-client"}
      - {dest_namespace: "Juniper", project: "contrail-build"}
      - {dest_namespace: "Juniper", project: "contrail-common"}
      - {dest_namespace: "Juniper", project: "contrail-community-docs"}
      - {dest_namespace: "Juniper", project: "contrail-container-builder"}
      - {dest_namespace: "Juniper", project: "contrail-controller"}
      - {dest_namespace: "Juniper", project: "contrail-deployers-containers"}
      - {dest_namespace: "Juniper", dest_project: "contrail-dev-env", src_project: "tf-dev-env", src_namespace: "tungstenfabric", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "Juniper", project: "contrail-docker"}
      - {dest_namespace: "Juniper", project: "contrail-docs"}
      - {dest_namespace: "Juniper", project: "contrail-dpdk"}
      - {dest_namespace: "Juniper", project: "contrail-fabric-utils"}
      - {dest_namespace: "Juniper", project: "contrail-generateDS"}
      - {dest_namespace: "Juniper", project: "contrail-go-api"}
      - {dest_namespace: "Juniper", project: "contrail-heat"}
      - {dest_namespace: "Juniper", project: "contrail-helm-deployer"}
      - {dest_namespace: "Juniper", project: "contrail-horizon"}
      - {dest_namespace: "Juniper", project: "contrail-infra"}
      - {dest_namespace: "Juniper", project: "contrail-infra-doc"}
      - {dest_namespace: "Juniper", project: "contrail-java-api"}
      - {dest_namespace: "Juniper", project: "contrail-kolla-ansible"}
      - {dest_namespace: "Juniper", project: "contrail-neutron-plugin"}
      - {dest_namespace: "Juniper", project: "contrail-nova-vif-driver"}
      - {dest_namespace: "Juniper", project: "contrail-packages"}
      - {dest_namespace: "Juniper", project: "contrail-packaging"}
      - {dest_namespace: "Juniper", project: "contrail-project-config", src_namespace: "progmaticlab", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "Juniper", project: "contrail-provisioning"}
      - {dest_namespace: "Juniper", project: "contrail-publisher", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "Juniper", project: "contrail-puppet"}
      - {dest_namespace: "Juniper", project: "contrail-sandesh"}
      - {dest_namespace: "Juniper", project: "contrail-server-manager"}
      - {dest_namespace: "Juniper", project: "contrail-specs"}
      - {dest_namespace: "Juniper", project: "contrail-test"}
      - {dest_namespace: "Juniper", project: "contrail-test-ci"}
      - {dest_namespace: "Juniper", project: "contrail-third-party"}
      - {dest_namespace: "Juniper", project: "contrail-third-party-cache"}
      - {dest_namespace: "Juniper", project: "contrail-third-party-packages"}
      - {dest_namespace: "Juniper", project: "contrail-tripleo-heat-templates"}
      - {dest_namespace: "Juniper", project: "contrail-tripleo-puppet"}
      - {dest_namespace: "Juniper", project: "contrail-vcenter-fabric-manager"}
      - {dest_namespace: "Juniper", project: "contrail-vcenter-manager"}
      - {dest_namespace: "Juniper", project: "contrail-vcenter-plugin"}
      - {dest_namespace: "Juniper", project: "contrail-vnc"}
      - {dest_namespace: "Juniper", project: "contrail-vro-plugin"}
      - {dest_namespace: "Juniper", project: "contrail-vrouter"}
      - {dest_namespace: "Juniper", project: "contrail-vrouter-java-api"}
      - {dest_namespace: "Juniper", project: "contrail-web-controller"}
      - {dest_namespace: "Juniper", project: "contrail-web-core"}
      - {dest_namespace: "Juniper", project: "contrail-web-server-manager"}
      - {dest_namespace: "Juniper", project: "contrail-web-storage"}
      - {dest_namespace: "Juniper", project: "contrail-webui-third-party"}
      - {dest_namespace: "Juniper", project: "contrail-windows"}
      - {dest_namespace: "Juniper", project: "contrail-windows-docker-driver"}
      - {dest_namespace: "Juniper", project: "contrail-windows-test"}
      - {dest_namespace: "Juniper", project: "contrail-zuul-jobs", src_namespace: "progmaticlab", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "Juniper", project: "horizon"}
      - {dest_namespace: "Juniper", project: "nova"}
      - {dest_namespace: "Juniper", project: "openshift-ansible"}
      - {dest_namespace: "Juniper", project: "openstack-helm"}
      - {dest_namespace: "Juniper", project: "openstack-helm-infra"}
      - {dest_namespace: "Juniper", project: "puppet-contrail"}
      - {dest_namespace: "Juniper", project: "vijava"}
      - {dest_namespace: "tungstenfabric", project: "docs", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "tungstenfabric", project: "tungsten-test-runner", gerrit_source_url: "https://github.com"}
      - {dest_namespace: "tungstenfabric-infra", project: "periodic-nightly"}
