version: '3'

services:
  gerrit:
    image: local/tf-ci-gerrit
    ports:
      - "29418:29418"
      - "80:8080"
    links:
      - mariadb
    depends_on:
      - mariadb
    volumes:
      - gerrit-git-volume:/var/gerrit/git
      - gerrit-index-volume:/var/gerrit/index
      - gerrit-cache-volume:/var/gerrit/cache
    command: |
      /bin/sh -c '\
        git config -f /var/gerrit/etc/gerrit.config gerrit.canonicalWebUrl http://13.53.192.123:80/ && \
        git config -f /var/gerrit/etc/gerrit.config gerrit.ui POLYGERRIT && \
        git config -f /var/gerrit/etc/gerrit.config sendemail.enable false && \
        git config -f /var/gerrit/etc/gerrit.config noteDb.changes.autoMigrate true && \
        java -jar /var/gerrit/bin/gerrit.war init --batch --install-all-plugins -d /var/gerrit && \
        /var/gerrit/bin/gerrit.sh run'
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s

  mariadb:
    image: mariadb:10.4
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_USER=gerrit
      - MYSQL_PASSWORD=gerritsecret
      - MYSQL_DATABASE=gerritdb
    volumes:
      - gerrit-db-volume:/var/lib/mysql
    restart: always

volumes:
  gerrit-git-volume:
  gerrit-db-volume:
  gerrit-index-volume:
  gerrit-cache-volume: