version: '3'

services:
  gerrit:
    build:
      dockerfile: gerrit-Dockerfile
      context: ./
    ports:
      - "29418:29418"
      - "{{ gerrit_front_port }}:8080"
    links:
      - mariadb
    depends_on:
      - mariadb
    volumes:
      - /var/lib/gerrit:/var/gerrit
    restart: always

  mariadb:
    image: mariadb:10.4
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_USER=gerrit
      - MYSQL_PASSWORD=gerritsecret
      - MYSQL_DATABASE=gerritdb
    volumes:
      - /var/lib/gerritdb:/var/lib/mysql
    restart: always
