[gerrit]
  basePath = git
  canonicalWebUrl = "{{ gerrit_baseurl }}"
  ui = POLYGERRIT

[database]
  type = postgresql
  hostname = postgres
  database = reviewdb
  username = gerrit

[index]
  type = LUCENE

[sendemail]
  enable = false
  smtpServer = localhost

[sshd]
  listenAddress = 13.53.192.123:29418

[httpd]
  listenUrl = http://13.53.192.123:80/

[cache]
  directory = cache

[container]
  user = root