# Version 2 is the latest that is supported by docker-compose in
# Ubuntu Xenial.
version: '2'

services:
  zk:
    # latest version 3.5.5 has strange error "2019-07-15 07:09:32,990 [myid:1] - ERROR [ContainerManagerTask:ContainerManager$1@84] - Error checking containers"
    image: zookeeper:3.4:14
    restart: always
    environment:
      ZOO_MY_ID: "{{ zk_id }}"
      ZOO_SERVERS: "{{ zk_servers }}"
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
