version: '3'

services:
  nexus:
    image: sonatype/nexus3:3.15.2
    network_mode: host
    volumes:
      - nexus-data:/nexus-data
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
  rproxy:
    image: httpd:alpine
    depends_on:
      - nexus
    ports:
      - "80:80"
    volumes:
      - "/opt/nexus/nexus.httpd.conf:/usr/local/apache2/conf/httpd.conf"
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"

volumes:
  nexus-data: