version: '3'

services:
  nexus:
    image: sonatype/nexus3:3.21.2
    restart: always
    network_mode: host
    volumes:
      - nexus-data:/nexus-data
  rproxy:
    image: nginx:1.15
    restart: always
    network_mode: host
    depends_on:
      - nexus
    volumes:
      - "/opt/nexus/nexus.nginx.conf:/etc/nginx/conf.d/default.conf"
      - "/opt/nexus/nexus.restricted.whitelist:/etc/nginx/conf.d/restricted.whitelist"
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"

volumes:
  nexus-data:
