version: '3'

services:
  nexus:
    image: sonatype/nexus3:3.15.2
    network_mode: host
    volumes:
      - nexus-data:/nexus-data
      - ./nexus.properties:/opt/sonatype/nexus/etc/nexus.properties
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s

volumes:
  nexus-data: