---
zuul_site_mirror_fqdn: {{ nexus_host }}
nexus:
  fqdn: {{ nexus_host }}
  registry:
    tungsten_ci: 5001
    tungsten_nightly: 5002
    proxy: 5005
    access: 5010
  repos:
    yum: 'yum-tungsten'
    yum_nightly: 'yum-tungsten-nightly'
    yum_tpc: 'yum-tungsten-tpc'
    maven: 'maven-public'
docker_registry:
  fqdn: {{ nexus_host }}
  port: 5000

zuul_log_url: "{{ zuul_log_url | default('http://logs.site.org:80') }}"

gerrit:
  scheme: "{{ gerrit_scheme }}"

image_web_server: "{{ image_web_server | default('') }}"
